<h1>What others are saying about Noelani...</h1>

<blockquote>
	<p><q>Noelani has a true understanding of community needs and will contribute greatly to the partnership between the School District and the City.</q></p>

	<p><cite>
-- Jamie McLeod, Councilwoman, City of Santa Clara*
	</cite></p>	

</blockquote>

<blockquote>
	<p><q>Our Community has always understood the Importance of
	Investing in the Future of All of our Students. As
	Board President I was so Very Proud of your Strong
	Support for Measures "B" and "J"  Investing  $460
	million dollars towards providing an Educational
	Infrastructure built for the Success of All of our
	Students for Today and Tomorrow! 
	<br />
	This November you have another Opportunity to make an
	Investment  towards the Success of All of our
	Students! On Tuesday, November 7th Please Join me in
	electing Noelani Sallings to serve as your
	Representative (Trustee Area #2) on the Governing
	Board of the Santa Clara Unified School District! 
	<br />
	Noelani has my Enthusiastic Support and Endorsement!
	</q></p>

	<p><cite>
	-- 	Jim Canova, Member and Former President of the Governing Board
	Santa Clara Unified School District*
	</cite></p>

</blockquote>

<blockquote>
	<p><q>As an educator at Santa Clara High School, I know Noelani will bring experience, leadership and a fresh perspective to the Governing Board.  I enthusiastically endorse Noelani to our School Board.</q></p>
	<p><cite>
	-- Dominic Caserta, Councilmember and Educator, City of Santa Clara*
	</cite></p>
</blockquote>

<blockquote>
	<p><q>Noelani brings a new creative energy to problem-solving within the Santa Clara Unified School District.  I have seen how much she cares about our kids and know she will work very hard and effectively to foster an environment where our students will be even more successful.</q></p>
	<p><cite>
	-- Teresa O'Neill, Former Trustee, Santa Clara Unified School District / VP of the Santa Clara Schools Foundation / Planning Commission Member*
	</cite></p>
</blockquote>

<blockquote>
	<p><q>As a parent, PTA leader and member of the board of directors of the Santa Clara Schools Foundation, Noelani has worked tirelessly in behalf of the students of the Santa Clara Unified School District.  I recommend her election to the Board of Trustees of the SCUSD, Area 2.</q></p>
	<p><cite>
	-- Clare Callejon, Former President of Santa Clara Schools Foundation*
	</cite></p>
</blockquote>
<p>*Titles for identification purposes only</p>
