%p
  As your School Board Trustee, I will empower children to their greatest
  potential. I will continue to foster high academic goals and raise academic
  standards. By supporting current qualified teachers and recruiting new ones,
  our schools will be sought out as the best. This will provide our children
  with the tools necessary to be successful in our Valley and beyond. Moving
  our education system into the 21st century will produce critical creative
  thinkers who will be successful in all aspects of life.

%p
  For almost ten years I have worked within our district. I joined PTA when my
  daughter started kindergarten. As President, I created programs benefiting
  our children and community. As a Santa Clara Schools Foundation board
  member, I helped start the annual giving campaign and created Music Rivals.
  These programs and others help ensure our schools and highly qualified staff
  have resources to enrich the educational experience.

%p
  My vision, values and track record are why Senator ElaineAlquist,
  Assemblymember Sally Lieber, Councilwoman Jamie McLeod, Community College
  Trustee Paul Fong, current School Board Trustees Ernie Dossa and Jim Canova,
  former School Board Trustees Emily Adorable and Teresa O’Neill, former
  Superintendents Rod Adams and Paul Perotti are among those who support me. I
  respectfully ask for your vote on November 4th