%h1 Thank you for your donation!

%ul
  %li Chuck Arrella
  %li Juanita Bowen, Mary Kay Independent Consultant
  %li Chuck and Laura Callejon
  %li Don and Clare Callejon
  %li Vanessa Cooper
  %li Kansen Chu
  %li Linsa Eastridge
  %li Ian Fung
  %li Darcie Green
  %li Leslie Hampton
  %li Wendy Hoag
  %li Steve Kahl
  %li Ash Kalra
  %li Jono Kane Photography
  %li John George
  %li Dick and Judy Lamb
  %li Jamie McLeod
  %li Buck Polk
  %li Sue Ray
  %li Bryan Rodriguez
  %li Bob and Noreen Runyon
  %li Patti Simone
  %li Michael Spardlin
  %li Donna Tobkin
  %li Sharon Verhgo
  %li Mary and John Wallace
  %li Jean Marie White

%h1 Thank you!
%h2 Businesses

%ul
  %li
    %a{:href => "http://www.franklinprints4u.com/"} Franklin Printing Company
  %li
    %a{:href => "http://SignOutfitters.com/"}SignOutfitters.com

%h2 Individuals
%ul
  %li Harry Adams
  %li Tanya Angeli
  %li Anne Baumgarten
  %li Sarah Becker
  %li Gabby Bergkamp
  %li Joel Bergkamp
  %li Karen Bergkamp
  %li Clare Callejon
  %li Joel Cervantes
  %li Vanessa Cooper
  %li Alison Coy
  %li Marvin Delgado
  %li Melvin Delgado
  %li Monica Dupree
  %li Kathy Ferris
  %li Paul French
  %li Ian Fung
  %li Sally Lieber
  %li Kathy Mae
  %li Jamie McLeod
  %li Teresa O'Neill
  %li Michael Spardlin
  %li Dustin Sallings
  %li Jennalynn Sallings
  %li Sidney Sallings

%p Please forgive me if I missed anyone.
