%h3 Next Vista for Learning Advisory Board, March, 2007 to Present

%p
  As a member of the Next Vista advisory board I am an advocate for their cause.
  I discuss their vision with potential users and contributors while being a
  support system both technologically and financially (through fund-raising). We
  are currently rebuilding the entire technological infrastructure, providing a
  stable environment for current users and keeping growth in mind. The team that
  is currently rebuilding the site consists of members that I recruited to help
  with this venture.


%h3 Santa Clara Unified School District Board of Trustees Candidate, August 2006-November, 2006

%p
  After being urged by several people to run for the school board, I decided
  that I could make more of a difference as a school board member than as a
  volunteer. My campaign was run completely grassroots. We used techniques for
  reaching voters both traditional and non-traditional. Our non-traditional
  techniques included using programs that we developed to pull up the voter
  information based on location and party registration. We developed precinct
  walking software and voter calling software. Our voter calling software was
  completely web-based with the ability for multiple users to call voters. The
  web page displayed whether the voter was a Democrat or Republican and changed
  the script accordingly. We then had the ability to record the caller's
  reaction and had data on all calls made. With this software I alone reached
  500 voters in the last three days of my campaign.

%p
  My campaign was unique
  because I had people from every socioeconomic class, race and age supporting
  me. People came up to me after the election saying, “This is the first time I
  have voted when it was not a presidential election.” Although I did not win I
  did feel I accomplished something, and that was getting the vote out.

%h3 Santa Clara Schools Foundation, Board of Directors, 2005 to Present

%p
  In 2005, the Santa Clara School District was going through some of the
  worst budget cuts since the Dot-Com bust. I was approached by Rod Adams to
  join the Santa Clara Schools Foundation. As a new member, I helped them to
  focus on taking the next steps of fund-raising and to create a new vision.

%p
  During my three years with them I have gained the trust of the established
  board and was asked to be a part of the four person team who developed a new
  road-map for the future, re-organized the group and produced new by-laws.

%p
  Along with Music Rivals (a district wide musical talent competition), which I
  produced, I helped initiate the Annual Campaign for the Santa Clara Schools
  Foundation (which raised 50K), and assisted in securing donations for the
  Marilyn Rea Golf Tournament.

%p
  In addition to my fund-raising work with the foundation, I created, designed
  and developed their brand new website.

%h3 Santa Clara Unified School District, Wellness Committee 2005 to Present

%p
  I assisted in creating new policies and acted as an advocate for the students
  in helping to provide healthy food choices in the schools. I was in constant
  contact with press and was interviewed on the new policies and the bold step
  that we so aggressively pushed through the school board.

%h3 Bracher Elementary School Parent Teacher Association, President June 2004-June 2006

%p
  My time at Bracher was spent focusing on rebuilding communication between
  parents, teachers and administration. Due to my ability to connect to a
  variety of people, our volunteer base went from 20 parents to just over 75
  parents. We also increased our profits by 25%.

%p
  With the money raised we were able to improve many projects. The one most
  visible to the children was our free fun day, turning it into a huge carnival
  where each child received a backpack, toys, games and food, all for free. We
  also were able to include a mostly free Santa’s workshop, and Mother’s and
  Father’s Day workshops, where children were able to come in and make art
  projects to give to their families. Finally, we were able to increase the
  amount of money we gave to teachers yearly from $150 to $200.

%p
  My focus during those two years was to create an organization that would be
  self sustaining. I did this by creating new Bracher PTA policies. We focused
  on healthy eating, open communication, community building and getting parents
  involved. My husband and I produced the Bracher PTA Website

%h3 Santa Clara University Psychology Club Founder and President, 2002-2004

%p
  During my time at Santa Clara University there was a lack of support for those
  interested in Psychology. On my own, I created the psychology club which
  included writing the bylaws, finding club officers and creating the club's
  vision.

%p
  While president, we visited Apple and NASA, giving psychology majors the
  opportunity to see there are more careers out there for them. We started a
  Senior-Freshmen mentoring program and had monthly socials to check in. Because
  of my work I was awarded the Senior Award for Service, for Outstanding Service
  to the Psychology Department of SCU.

%h3 Bracher Elementary School Parent Teacher Association, Vice President June 2002-June 2003

%h3 Co-Organizer for <q>Walk for Education</q>, 2003

%p
  I was a co-organizer for the protest walk against Governor Gray Davis when he
  was threatening to take away our local taxes and pour them back into the
  state's general fund.

%h3 YWCA Mid-Peninsula Rape Crisis Counselor, 2002

%p I served as Crisis Counselor and the main scheduler for all the crisis counselors.

%h3 Other Accomplishments
%ul
  %li Speaker for NCLB panel for Manny Diaz, 2003
  %li Received Public School Week Award for Volunteer Work, 2003

%h3 Education
%ul
  %li Notre Dame de Namur, Graduate Student, Psychology
  %li Santa Clara University, BS in Psychology, 2004

%h2 2006

%ul
  %li
    Helped secure donations for the Marilyn Rea Golf Tournament.
    Sponsored by Santa Clara Unified School District and the Santa Clara Schools Foundation
  %li
    Joined Health and Wellness Committee for
    %acronym{:title => "Santa Clara Unified School District"}SCUSD
    Helped create new policies.

%h2 June 2004-June 2006

%ul
  %li
    Bracher
    %acronym{:title => "Parent Teacher Association"}PTA
    President

%h2 2005

%ul
  %li Joined the Board of the Santa Clara Schools Foundation
  %li Helped initiate the Annual Campaign for the Santa Clara Schools Foundation
  %li
    Produced
    %a{:href => "http://www.santaclaraschoolsfoundation.org/"} Santa Clara Schools Foundation
    and Bracher PTA Websites.
  %li
    Created new Bracher
    %acronym{:title => "Parent Teacher Association"}PTA
    policies. We focused on healthy eating, open communication,
    community building and getting parents involved.

%h2 2004
%ul
  %li
    Received a Bachelor's Degree of Science in
    Psychology from
    %a{:href => "http://www.scu.edu"}Santa Clara University
  %li
    Awarded Senior Award for Service for
    outstanding service to the Psychology
    Department of Santa Clara University.

%h2 2003
%ul
  %li Santa Clara University Psychology Club Founder and President.
  %li
    Speaker for
    %acronym{:title => "No Child Left Behind"} NCLB
    panel for Manny Diaz
  %li Received Public School Week Award for Volunteer Work

%h2 June 2002-June 2004
%ul
  %li
    Bracher
    %acronym{:title => "Parent Teacher Association"}PTA
    Vice President

%h2 2002
%ul
  %li Helped Organized <q>Walk for Education</q></li>
  %li
    %acronym{:title => "Young Women's Christian Association"} YWCA
    Member and Crisis Counselor

%h2 2000-2006
%ul
  %li
    Active
    %acronym{:title => "Parent Teacher Association"} PTA
    Member in children's schools.
