body{
 	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background: white;
	color: black;
	font-size: medium;
	font-family: verdana;
	width: 735px;
}

img {
	border: 2px;
	padding: 2px;
	margin-right: 1em;
	margin-top: 1em;
}

blockquote {
	Font-size: 14px;
	
}
a {
	text-decoration: none;
	color: #939;
}

a[href$=".pdf"]{
	background-image: url(http://bleu.west.spy.net/~noelani/images/pdf.png);
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right;
}

a:visited {
	color: #c1c;
}

#mainmenu {
}

#mainmenu ul {
	list-style: none;
	margin-bottom: 1em;
}

#mainmenu li {
	width: 85px;
	text-align: center;
	float: left;
	list-style: none;
	margin: 0;
	padding: 4px 0;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

#mainmenu a {
	text-decoration: none;
	color: black;
	padding: 6px;
}

#navbar{
	border: 8px solid #800080;
	font-size: large;
	text-align: center;
	
}

#navbartitle {
	font-size: larger;
	font-weight: bolder;
}

#navbar h1 {
	font-size: large;
	margin-left: 1em;
	color: black;
}

#navbar a:hover {
	background: inherit;
	border-bottom: solid 2px #660066;
}

#navbar ul {
	text-indent: 0;
	padding-left: 0;
	list-style: none;
}

#navbar li {
	text-indent: -3em;
	display: inline;
	padding-left: 7px;
	border-left: solid 5px #660066;
}

#navbar ul li:first-child {
	padding-left: 0;
	border-left: none;
}

#maincontent {
	margin-top: 1em;
	padding: 0 1em 0 1em;
	border: 8px solid #800080;
	color: black;
	font-size: 18px;
}

#maincontent h1 {
	color: black;
	font-size: x-large;
	font-weight: bold;
}

#maincontent h2 {
	color: black;
	font-size: large;
	font-weight: bold;
	font-style:  italic;
}

#navbardiv {
	font-size: xx-large;
	font-weight: bold;
	color: black;
	}

#navbardiv2 {
	font-size: large;
	font-weight: bold;
	color: black;
}

#footer {
	border-top: solid 2px #800080;
	font-size: xx-small;
	text-align: center;
}

ul.endorsement {
 list-style: none;
 margin-left: 0;
 padding-left: 0;
}

ul.endorsement li {
  text-indent: 0;
}

.notreleased {
    text-decoration: line-through;
}