<h1>Noelani Sallings for Santa Clara Unified School board, Area 2 - November 2008 Election</h1>

<h2><i>Noelani is a Santa Clara parent who cares about the future of your children.</i></h2>

<blockquote>
	<p><q>Noelani brings a new creative energy to problem-solving within the
	Santa Clara Unified School District. I have seen how much she cares about
	our kids and know she will work very hard and effectively to foster an
	environment where our students will be even more successful.</q></p>
	<p>
	<cite>
		&mdash; Teresa O'Neill, Former Trustee, Santa Clara Unified School District<br />
	<%= link_to 'What others are saying...', :controller => 'quotes' %>
	</cite>
	</p>
</blockquote>

<img src="images/noelani-home.jpg" alt="Noelani Sallings" style="float:left"/>
<p>
Education has always been the cornerstone of my life. I am a proud product of
the south bay public education system and daughter is currently enrolled in
Santa Clara Public School system. My strong roots in local education have
enabled me to become successful in my personal and professional life. In order
to maintain a local standard of excellence, I am running for Santa Clara
Unified School Board.
</p>

<p>
In order to help the district reach its full potential, I have worked many
social outreach programs in the area including Santa Clara Schools foundation,
Music Rivals, Nutrition Committee, and Bracher PTA association. My work has
enabled countless children to improve their quality of live while enabling
them to succeed in the classroom.
</p>

<p>
While I have great respect for the work of the Santa Clara Unified School
board, I believe there are several unaddressed areas for improvement. First of
all, I firmly believe the board needs to better utilize the plethora of
technical knowledge found in Silicon Valley. In addition, I am a strong
advocate for a drastic enhancement to the education fundamentals, including
the arts, that enable our students for success.
</p>

<p>
In order to accomplish our goals, I will work tirelessly with our district and
drive involvement from our community. My involvement in grass-roots
organization coupled with my work in education provide me the background
knowledge to implement change.
</p>

<p>
My experience and close ties to the foundation of this district make me an
ideal candidate for the Santa Clara Unified School Board. My relentless
passion for creating a better school system for fourteen-thousand students,
including my daughter, will become a strong asset for this district.
</p>

<blockquote>
	<p>
		<q>Noelani has a true understanding of community needs and will
		contribute greatly to the partnership between the School District and
		the City.</q>
	</p>
	<p>
		<cite>
			&mdash; Jamie McLeod, Councilwoman, City of Santa Clara
		</cite>
	</p>
</blockquote>

<p>To find out more about Noelani Sallings, please visit:</p>
<ul>
	<li><%= link_to 'Qualifications', :controller => 'qualifications' %></li>
</ul>
