<h1>Noelani Sallings for Santa Clara Unified School board, Area 2 - November 2008 Election</h1>

<h2><i>Noelani is a Santa Clara parent who cares about the future of your children.</i></h2>

<blockquote>
	<p><q>Noelani brings a new creative energy to problem-solving within the Santa Clara Unified School District.  I have seen how much she cares about our kids and know she will work very hard and effectively to foster an environment where our students will be even more successful.</q></p>
	<p>
	<cite>
		-- Teresa O'Neill, Trustee, Santa Clara Unified School District<br />
	<%= link_to 'What others are saying...', :controller => 'quotes' %>
	</cite>
	</p>
</blockquote>

<img src="images/Noelaniforthewebsmall.jpg" alt="Noelani Sallings" style="float:left"/> 
<p> 
  Education is a major value in my life.  Whether it is going to school to get my master's degree in Clinical Psychology, reading about latest technology, or researching something that is of interest to me, I am committed to being a life-long learner. 
</p>

<p>
My background includes looking out for the best interests of all
children, not just my own.  My hard work on the <a
href="http://www.santaclaraschoolsfoundation.org/">Santa Clara Schools
Foundation</a> and the <a href="http://www.bracherpta.org">Bracher PTA</a> indicates my desire to 
ensure that every child has opportunities to learn, grow, and be
successful.  I want to help give all students the tools to be successful.
</p>

<p>
I would like to build on the current School Board’s commitment to high standards.  At this time, these can be achieved through the acquisition of fundamentals of literacy, math and science. However,  the bar can be raised even higher through creative the use of technology and more attention to the arts.  We are doing our children a huge disservice by not using every possible avenue to help them grow into a well rounded lifelong learners.
<img src="images/familyforthewebsmall.jpg" alt="Sallings Family" style="float:right"/>
</p>

<p>
 We, as a district, can achieve this higher standard. In order to do so, we must not only support our current staff, but continue to recruit quality teachers.  We must do everything we can to encourage our parents and community members to become involved in the local schools.
</p>

<p>
	As a new board member, I will dedicate myself to build on the success and wisdom of the current board. I am ready and willing to work long and hard on the Santa Clara Unified School Board to maintain high achievement in our district and to continue to strive for the very best of our students. I hope to help the district, as a whole, focus more on making children and parents aware of all the resources available to them, and empowering children to achieve at an even higher level. 
</p>
	
<blockquote>
	<p><q>As a parent, PTA leader and member of the board of directors of the Santa Clara Schools Foundation, Noelani has worked tirelessly in behalf of the students of the Santa Clara Unified School District.  I recommend her election to the Board of Trustees of the SCUSD, Area 2.</q></p>
	<p>
		<cite>
			-- Clare Callejon, Former President of Santa Clara Schools Foundation
		</cite>
	</p>
</blockquote>

<p>To find out more about Noelani Sallings, please visit:</p>
<ul>
	<li><%= link_to 'Qualifications', :controller => 'qualifications' %></a></li>
	<li><%= link_to 'A brief bio and questions answered', :controller => 'about' %></li>
</ul>