%h1 Events

%h2 Saturday, October 14, 2006 -  Reception for Santa Clara School Board Candidate Noelani Sallings

%p
  Host: Jamie McLeod, Clare Callejon, Vanessa Cooper and Alison Coy
  %br
  Location: 763 Malarin Ave., Santa Clara, CA
  %br
  When: Saturday, October 14, 2:30pm
  %br
  Phone: 408-246-2357

%p
  You are invited to attend a Meet the Candidate Reception for:
  %br
  Noelani Sallings, Santa Clara Unified School Board Candidate

%p
  Saturday, October 14
  %br
  2:30 pm- 4:30 pm

%p
  At the home of Alison Coy
  %br
  763 Malarin Ave
  %br
  Santa Clara 95050

%p Snacks and Drinks will be served.

%p
  Please join us to find out more about this exciting candidate who will bring a
  fresh new perspective to the Santa Clara School Board!
