<h1>News</h1>

<h2>Dear Friend Postcards, Lawn Signs and Window Signs</h2>

<p>
	Any person interested in supporting Noelani by putting up lawn signs, sending out <a href="/friendpostcard.pdf">dear friend postcards</a> or taking <a href="/windowsign.pdf">window signs</a> to local businesses, can either download them here or <a href="mailto:noelani@sallings.org">email</a> me. 
</p> 

<h2>Saturday, October 14 - Meet the Candidate</h2>
<p>
	Jamie McLeod, Clare Callejon, Vanessa Cooper and Alison Coy hosted a successful event for me.  There were many elected officials there to support me and my campaign for the school board.  We had a great eclectic turnout and gained support from various neighborhoods in Santa Clara.  
</p>
<p>
	We had numerous people sign up for lawn signs, window signs, dear friend postcards and for our walk next weekend. 
</p>
<p>
	Thank you for all your support.  With your help, we will win on November 7!  
</p>

<h2>Friday, October 6 - Silicon Valley Asian Pacific American Democratic Club Awards Dinner</h2>
<p>
	Dustin, Jennalynn and I attended the SVAPADC Awards dinner tonight at the Dynasty Restaurant in San Jose.  In attendance we some of the most influential city, county and state official.  It was very nice to meet people in person who I had corresponded with just by email.  
</p>
<p>
	The meal was great, the people and networking went well and we are gaining more steam as we get closer to election day.  32 days left!  
</p>

<h2>Thursday, October 5 - Put up a Window Sign</h2>
<p>
	If you are interesting in showing your support for Noelani download and print this <a href="/windowsign.pdf">window sign</a> and display it in your window.
</p>
  
<h2>Friday, September 22 - <a href="/donation/">Donations</a> Needed</h2>
<p>
	We have started raising money for the campaign. To find out more about it go <a href="/donation/">here.</a>
</p>

<h2>Saturday, September 16 - Santa Clara Art and Wine Festival</h2>
<p>
	Dustin, Jennalynn and I all attended the Art and Wine Festival this weekend.  Dustin and I worked in the Santa Clara Schools Foundation Wine Booth pouring wine for people.  There were people from the district office and the Foundation there visiting and pouring.  
</p>
<p>				
	Jennalynn performed with her dance group at the meadow stage just like she has done every year for the past five years.  Her dance studio which is also in Santa Clara has been a part of the Art and Wine Festival for many years. 
</p>
<p> 
	During the festival there were volunteers passing out my flyers.  A big thank you to Karen Bergkamp and Family, Wendy Hoag and Family, Moncia Dupree and Family and Haley Alves and Family for taking the time out to pass out my flyers during the day.  Hopefully we got the word out!
</p>

<h2>Friday, September 15 - A Night to Grill Noelani</h2>
<p>			 
	We set this mock forum up to find out what the parents of Santa Clara were concerned about and what they wanted to know about.  
</p>
<p>
	The grilling turned out very well.  We had some parents come out and ask great questions and make comments that I would like to take back and work on.  One of my top concerns is that all students are getting the education they deserve and that teachers and parents have the tools to make them successful.  I think we are doing a fantastic job but like in all areas of life we can do better.  This is what I want to work on while in office.  Making sure all parents get involved in their students education and that we provide them with the best education possible. 
</p>
