%h1 Thank you for your donation!

%p
  Together we will make this school district stronger and better than ever. Check out my
  = link_to 'events', :controller => '/events'
  page if you are interested in helping out in other ways.

%p FPPC#1291137
