%h2 Elected Officials

%table.endorsements
  - @electeds.endorsements.in_groups_of(3) do |parts|
    %tr
      - parts.each do |e|
        %td
          %div.name= e.nil? ? '' : e.name
          %div.title= e.nil? ? '' : show_endorser_title(e.title)

%h2 Organizations

%table.endorsements
  - @organizations.endorsements.in_groups_of(3) do |parts|
    %tr
      - parts.each do |e|
        %td.name= e.nil? ? '' : e.name

%h2 Community Leaders

%table.endorsements
  - @leaders.endorsements.in_groups_of(3) do |parts|
    %tr
      - parts.each do |e|
        %td.name= e.nil? ? '' : e.name

%p.sup-descr &dagger; Titles for identification purposes only
