<h1>Endorsements for 2008 Campaign</h1>     

<h2>Elected Officials</h2>

<dl>
  <% @electeds.endorsements.each do |e| %>
    <dt><%= e.name %></dt>
    <dd>
      <% e.title.split(/\r?\n/).each_with_index do |line, index| %>
      <% if index > 0 %><br/><% end %>
      <%= line %><sup>&dagger;</sup>
      <% end %>
    </dd>
  <% end %>
</dl>

<h2>Community Leaders</h2>

<ul>
  <% @leaders.endorsements.each do |e| %>
    <li><%= e.name %></li>
  <% end %>
</ul>

<p>&dagger; Titles for identification purposes only</p>
