- content_for :more_head do
  %link{:rel => 'alternate', :type => 'application/rss+xml', :title => "Posts RSS", :href => formatted_blog_index_path(:rss)}

- @blog_posts.each do |post|
  .blog_post
    %h2{:class => post.released? ? 'released' : 'notreleased' }
      = link_to post.title, blog_path(post)
    .content=render_post(post)
    .when
      Posted
      = post.updated_at
    .comments
      = link_to "Comments", blog_path(post, :anchor => "disqus_thread")
    %hr
:javascript
  (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
      }
      document.write('<script type="text/javascript" src="http://disqus.com/forums/noelani/get_num_replies.js' + query + '"></' + 'script>');
    })();
