- @blog_posts.each do |post|
  .blog_post
    %h2{:class => post.released? ? 'released' : 'notreleased' }= post.title
    .content
      = auto_link(markdown(post.content))
    .when
      Posted
      = post.updated_at
    %hr
