.blog_post.hentry.item
  %h2{:class => (@post.released? ? 'released' : 'notreleased') + ' entry-title' }
    = link_to(@post.title, blog_path(@post), :rel => 'bookmark')
  .entry-content= render_post(@post)
  %abbr.published{:title => @post.updated_at.to_s(:hatom)}
    Posted
    = @post.updated_at.to_s(:item_day)
  =render :partial => 'comments'
%hr