<h1>Short Bio</h1>

<p>
	I have lived in the Bay Area all my life. I was born in Santa Clara,  I went to school in San Jose and I graduated from Santa Clara University.  My husband and I have been married for seven years and in 2002 he adopted our older daughter.  My daughter has attended Santa Clara Unified School District schools all her school life.   We are lucky enough to get frequent visits from my stepdaughter. 
</p>

<h2>Questions from the October 23, 2007 Forum</h2>

<h3>Commitment sustained over time indicates serious interest in school districts welfare.  1)  What is your history of attendance at SCUSD board meetings?  2)  Please list your participation on committees and commissions at individual schools or district-wide.</h3>

<p>I have attended several board meetings in the last few months.  For the past month and a half I have attend every single one.  On top of those meetings I attend meetings during budget cuts and then again during the health and wellness policy meetings.  
</p>

<p>
I have extensive experience with the district and at individual school.  I have been a PTA member at both of my children's schools.  I served at PTA Vice President for two years and then PTA president two years.  During my tenure on the PTA board, I was on the committee for the district when we were discussing the technology choices for the middle and high schools and on the school site council for 5 years, 3 of those years as president.  I have been on the Santa Clara Schools Foundation for almost two years, during my time on the foundation I helped start the annual campaign, secure donations during the charity golf tournament, increase community awareness through the development of the website and help communication increase between the council PTA and the foundation. 
</p>

<p>
As you can see, my dedication to education, the children of the district and the school district as a whole is very strong.  I plan to continue this through my time on the school board. 
</p>

<h3>How would you address closing the achievement gap for Latinos and African-American students?</h3>

<p>
Before answering this question I think people need to have a better understand of how these and all children and schools are scored.  API stands for Academic Performance Index and the metric that is used to score the ideal 800 is a mythical child.  So all schools and children's growth is based off of this mythical child.  
</p>

<p>
Now to address what would I do to close this achievement gap, I think the better question is what have we been doing and what are we going to look into doing.   Currently any child at risk or under the 800 score is on a academic plan.  Each principal and teacher know each child's story because there is no one answer or program that will fit each child. 
</p>

<p>
Once the plan is written and conferences with everyone involved (parents, students, teacher and administrators) the plan is put into play. A good example of this being successful is Montague and their principal, Eric Lewis.  The schools scores increased because of this focus on the lower performing hispanic group.  That group alone increase 52 point last year.
</p>

<p>
I think we are doing a good job but we can do better.  With new money from government grants we are going to be able to implement an amazing supplement/enrichment programs and some of the schools in our area.  The program will be open from 3 pm -6pm and provide activities, homework help, and snacks for students.  
</p>

<h3>What is your position regarding School-to-Career programs?</h3>
<p>
In the Santa Clara Unified School District we are dedicated to helping each student succeed on their own path.  This means that some children will not take that traditional path High school to college and offering them an alternative I think is very important.  
</p>

<p>
I do not want to choose the path for them and this is why they have options.  We have amazing programs at our High Schools and at the CCOC and I think giving children a place to learn that fix their learning style is one of the most responsible things we can do as a district. 
</p>

<h3>5)  What is your view regarding military recruiting of high school students on campus?  Should parents be able to opt their children out of such recruiting?</h3>

<p>
I think that children need to focus on school when they are at school.  There are so many distraction while they are there, they do not need another.  However, if they are interesting in the military and having a career with them, I have no problem in them reaching out to find out information.
</p>

<p>
I have signed the military op out form for my daughter. I would prefer that the military not have information on her but that is my own choice.  Not everyone wants to do it that way thus we have options. 
</p>

<h3>What is your view regarding charter schools?</h3>
<p>
I think that if a charter school is willing to teach the whole learner and not focus on just one area they should be allowed to be in our district.  However,  as a board member I am focused on looking deeper when charter schools do come into play.  I would like to see all required materials and I would like to read about the school and dig deeper.  I promise to research each item to the fullest. 
</p>

<h3>Should board members be elected in the future by trustee area or should anyone be able to run for any seat, regardless of where they live within SCUSD boundaries?</h3>

<p>
I think School Board members should represent the population they serve.  In order to do so they must live in those areas.  This ensures that they are accessible and know the issues.  
</p>

<p>
However, this must be taken one step further.  Living in the trustee area is not enough.  Treating people with respect, never talking down to them and truly listening to them regardless of it they agree with you is a must.  I feel that I am the only candidate that does that.  My objectiveness and ability to think outside of the box I think is key to making sure that the representation is representative of the trustee area. 
</p>

<h3>What will you do to ensure that the diversity of our student body is represented and respected?</h3>

<p>
	I feel that I have a greater understanding of the diversity in our student body.  Children of all ages feel comfortable and feel like they can come and talk to me.  I will continue to support all students activities that benefit them as a whole learner. 
</p>

<h3>Why does everyone have a statement in the election materials and you don't? Don't you care?</h3> 

<p>
This is a great question. Currently to run a statement in the School Board
election materials it is $2300, which I think is outrageous.  I do believe there should
be some kind of statement fee in order to hinder those people who run for
sport.  However, I think a statement fee this high hinders qualified people, representative of the community, from running for office.   
</p>

<p>
	This is why I am trying to raise money.  I am pretty well known in my community but I need to get out there more.  I want everyone to know that I am the best candidate for the position.  Check out my
<%= link_to 'plan', :controller => 'donation' %>.
</p>

<h3> Why are you running for the school board?</h3>
<p>
I am running because it was the right thing to do.  Our current board has done a tremendous job with the district. I come to the table bringing more diversity, creative problem-solving skills and a strong passion to give students what is best.  I have a vested interest in the district not only because I am a resident and I want to build strong school and successful students but because I have a child in the district.      
</p>

<p>
	I have a gift for making people comfortable and they tend to share their problems, concerns or issues with me.  Whether it is a five-year-old telling me that they do not like hot lunch, a teenager explaining to me that his lunch is too small for too much money, or a elderly woman telling me when we need more programs for kids in the district, I give each person attention and listen carefully.  I plan on using this gift to represent my diverse community. 
</p>

<p>
	All of these things, in addition my qualifications, make me the best candidate for the job. 
</p>

<p>
	If you have questions, concerns or want to help out feel free to contact me. 
</p>

<p>
	Noelani Sallings<br />
	408.426.8023<br />
	<a href="mailto:noelani@sallings.org">noelani@sallings.org</a>
</p>
